@charset "utf-8";

/* pc버전 */
@media(max-width:1900px) {
    body {
        overflow-x: hidden;
    }

    /* 헤더영역 */
    .header {
        width: 99%;
    }

    #Nav {
        width: 100%;
    }

    #Nav>.Main_menu>li {
        width: 100%;
    }

    .tabmenu .tabBtn ul {
        width: 94vw;
    }


    .tabmenu .tabBtn ul li {
        width: 25%;
        font-size: 2vw;

    }

    .product-info-full {
        width: 90vw;
    }



    .footer section {
        width: 100%;
        max-width: 1420px;
        /* padding: 0 50px; */
        /* height: 40%; */
        /* background-color: rgb(255, 120, 120); */
        top: 55%;
    }



}

/* max-width:1900px */

@media(max-width:1660px) {}

@media(max-width:1510px) {}

@media(max-width:1480px) {}


/* pc */
@media(max-width:1440px) {

    /* .header-------------------------------- */
    .header>h1 {
        width: 300px;
        line-height: 100px;
    }

    .header>h1>a {}

    #Nav>.Main_menu>li>a {
        line-height: 50px;
        font-size: 1.3vw;
    }

    #Nav .hover-text::after {
        font-size: 1.3vw;
    }

    #Nav>.Main_menu>li>ul {
        width: 100%;
        height: 300px;
    }

    #Nav>.Main_menu>li>ul>li>a {}




    #Nav>.Main_menu>li>ul>li>a {
        font-size: 1.3vw;
    }

    #Nav>.Main_menu>li>ul>li>a.hover-text {}

    #Nav>.Main_menu>li>ul>li>a.hover-text::after {
        font-size: 1.3vw;
    }

    #Nav>.Main_menu>li>ul>li>a.hover-text:hover::after {}



    .header>a {
        /* 헤더 검색창 */
        width: 75px;
        height: 75px;
        margin-top: 35px;
    }

    .header>a>img {
        width: 75px;
        height: 75px;
    }

    .header>a>.naver {
        top: -10px;
        left: -225px;
    }


    /* .header--------------------------------*/
    /* .container1--------- */
    .container1 {
        width: 100%;
    }

    .product-left {
        width: 48%;
    }

    .product-right {
        width: 48%;
    }

    .product-image {
        width: 100%;
        height: auto;
    }

    .thumbnails {
        flex-direction: row;


    }

    /* .tabmenu .tabBtn{width: 100vw;} */
    .tabmenu .tabBtn ul {
        width: 94vw;
    }

    .tabmenu .tabBtn ul li {
        width: 25%;
    }

    .product-info-box {
        width: 100%;
    }

    .product-info-preview {
        width: 100%;
    }

    .product-info-preview img {}

    .open-btn {
        width: 100%
        /* min-width: 1440px; */
    }

}

@media(max-width:1500px) {
    select {
        width: 20vw;
    }

    .btn-cart,
    .btn-buy {
        width: 35%;
    }

}

@media(max-width:1370px) {
    .tabCont4 section h3 {
        font-size: 18px;
    }

    .tabCont4 section ul {
        font-size: 12px;
    }

    .tabCont4 section table {
        font-size: 12px;
    }



}

/* max-width:1280px */



@media(max-width:1280px) {
    .tabmenu .tabBtn ul li a {}
}

/* 노트북버전 */
@media(max-width:1270px) {

    #Nav>.Main_menu>li>ul>li>a.hover-text:hover::after {
        font-size: 11px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* footer 영역 */

    .footer nav {
        /* background-color: red; */
        height: calc(100vw*0.24);
    }

    .footer nav ul {}

    .footer nav h3 {
        font-size: 2vw;
    }

    .footer nav ul li a {
        font-size: 1.3vw;

    }

    .footer nav .about>li:nth-of-type(7) {
        display: none;
    }

    .footer section address {
        font-size: 1.3vw;
    }

    .footer address p {
        font-size: 1.3vw;
    }

}

/* max-width:1270px */

@media(max-width:1100px) {
    .footer>h1 {
        margin-top: 50px;
    }
}

/* max-width:1100px */




/* 노트북버전 */
@media(max-width:1024px) {

    /* header ------------------------------------*/

    .header>h1 {
        width: 250px;
    }

    .header>h1>a {
        margin-top: 51px;
    }

    #Nav>.Main_menu>li>ul {
        left: 0px;
        height: 230px;
    }

    #Nav>.Main_menu>li>ul>li>a {
        height: 35px;
        line-height: 35px;
        /* font-size: 20px; */
    }

    #Nav>.Main_menu>li>ul>li>a.hover-text::after {}

    #Nav>.Main_menu>li>ul>li>a.hover-text:hover::after {
        font-size: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    .header>a {
        /* 헤더 검색창 */
        width: 45px;
        height: 45px;
        margin-top: 50px;
    }

    .header>a>img {
        width: 45px;
        height: 45px;
    }

    .header>a>.naver {
        top: -8px;
        left: -190px;
    }

    .header>a>.naver>li.s_text>input {
        width: 200px;
        height: 30px;
        font-size: 12px;
        padding: 0 6px;
    }

    .header>a>.naver>li.s_btn>input {
        width: 50px;
        height: 30px;
        right: -246px;
    }

    /* header ------------------------------------*/
    /*.container1--------------------*/
    .container1 {
        flex-direction: column;
        align-items: center;
    }

    .product-left {
        width: 100%;
        max-width: none;
    }

    .product-image {
        max-width: 100%;
    }

    .product-right {
        width: 100%;
        max-width: none;
    }

.tabmenu .tabBtn ul {
    margin-right: 10px;
    width: 97%;
}
.product-info-full {

    width: 100%;
}

    .tabCont2>article .reviewImage ul li img {
        width: 100%;
    }

    .link select {
        width: 90%;
    }

}

/* max-width:1024px */








/* 노트북버전 */
@media(max-width:985px) {}

/* max-width:985px */






/* 노트북버전 */
@media(max-width:960px) {

    #Nav>.Main_menu>li:last-child {
        display: none;
    }

    .product-info-preview img {


    }


}

/* max-width:960px */






/* 테블릿 */
@media(max-width:770px) {}






/* 테블릿 */
@media(max-width:768px) {

    /* .header-------------------------------- */
    .header {
        flex-wrap: wrap;
        height: 110px;
    }

    .header>h1 {
        
        width: 300px;
        height: 50px;
        padding-left: 10px;
    }

    .header>h1>a {
        margin-top: 0px;
    }

    #Nav {
        height: 50px;
        margin-top: 10px;
        order: 2;
    }

    #Nav>.Main_menu>li {
        padding-top: 0;
    }

    #Nav>.Main_menu>li>ul {
        top: 52px;
    }

    #Nav>.Main_menu>li>a {
        font-size: 2.2vw;
    }

    #Nav .hover-text::after {
        font-size: 2.2vw;
    }

    #Nav>.Main_menu>li>ul>li>a {
        font-size: 2.2vw;
    }


    .header>a {
        /* 헤더 검색창 */
        width: 60px;
        height: 60px;
        margin-top: 0;
        margin-right: 5px;
    }

    .header>a>img {
        width: 60px;
        height: 60px;
    }

    .header>a>.naver {
        width: 247px;
        height: 30px;
        top: -40px;
        left: -260px;
    }

    /* .header-------------------------------- */


    #quick2 {
        display: none;
    }

            .link select {
        width: 150px;
        font-size: 9px;
    }

.footer >h1 {
    margin-top: 100px;
}



}

/* max-width:768px */


@media(max-width:680px) {
    .footer nav ul.gnbFoot>li:last-child {

            display: none;
        }
}

/* max-width:600px */



/* 핸드폰 */
@media(max-width:600px) {

    /* .header-------------------------------- */
    .header {
        height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        flex-direction: row-reverse;
    }

    .header>h1 {
        width: auto;
        height: 60px;
        padding: 0 15px;
        line-height: 60px;
    }

    .header>h1>a {
        margin-top: 10px;
        height: 40px;
    }

    .header>h1>a>img {
        width: 230px;
        padding-top: 5px;
    }

    .hamburger-icon {
        display: block;
        width: 30px;
        height: 25px;
        position: absolute;
        left: 15px;
        top: 18px;
        cursor: pointer;
        z-index: 1000001;
    }

    .hamburger-icon span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #333;
        margin-bottom: 5px;
        transition: all 0.3s;
    }



    .hamburger-icon.open span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger-icon.open span:nth-child(2) {
        opacity: 0;
    }

    .hamburger-icon.open span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    #Nav {
        position: fixed;
        bottom: 0;
        left: -250px;
        width: 200px;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.9);
        transition: left 0.3s ease;
        z-index: 1000000;
        margin-top: 0;
    }


    #Nav.open {
        left: 0;
    }

    #Nav>.Main_menu {
        flex-direction: column;
        padding-top: 80px;
    }

    #Nav>.Main_menu>li {
        width: 100%;
        padding-top: 0;
        height: auto;
    }

    #Nav>.Main_menu>li>a {
        font-size: 16px;
    }

    #Nav>.Main_menu>li>ul {
        position: static;
        background: none;
        border: none;
        padding: 10px 0;
        height: auto;
    }

    #Nav>.Main_menu>li>ul>li>a {
        color: orange;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
    }

    #Nav .hover-text::after,
    #Nav .hover-text:hover::after,
    #Nav .hover-text:hover {
        content: none;
        color: inherit;
        border: none;
        opacity: 1;
    }

    .header>a {
        display: none;
    }

    /* .header-------------------------------- */

    .open-btn {
        width: 100%;

        /* min-width: 1440px; */
    }


    /* container1 ----------------------------*/
    .container1 {
        margin-top: 65px;
    }
    .tabCont2{
        height: 900px;
    }
}

/* max-width:600px */

@media(max-width:520px) {
    .tabCont4 section h3 {
        font-size: 16px;
    }

    .tabCont4 section ul {
        font-size: 10px;
    }

    .tabCont4 section table {
        font-size: 10px;
    }

    .order-item {
        font-size: 14px;
    }

}

/* max-width:520px */




/* 삼성의 끝 핸드폰 */
@media(max-width:480px) {
    .product-left {
        flex-direction: column-reverse;
        align-items: center;
    }

    .thumbnails {
        flex-direction: row;
        overflow-x: auto;
        width: 100%;
        justify-content: flex-start;
    }

    .thumbnails::-webkit-scrollbar {
        display: none;
    }

    .product-right h1 {
        font-size: 1.5rem;
    }

    .price {
        font-size: 1.2rem;
    }

    .discount {
        font-size: 1rem;
    }

    .option-row {
        flex-direction: column;
    }

    .action-row {
        flex-direction: column;
        gap: 10px;
    }

    .tabCont2>article .reviewP {
        display: flex;
    }

    .description>p:first-child {
        width: 100%;
        height: 170px;
    }

    .option-row {
        width: 150px;
        display: flex;
        flex-direction: column;
    }

    .action-row {
        display: block;

    }

    .option-row,
    .action-row {
        display: inline;
        width: 100%;
        text-align: center;
    }

    .order-item {
        font-size: 12px;
    }

    .option-group,
    .qty-group {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .option-group {
        padding-top: 10px;
    }

    .option-group select {
        width: 50%;
    }

    .qty-group input {
        width: 70%;
    }

    .option-group label,
    .qty-group label {
        margin-bottom: 0;
        line-height: 42px;
    }

    select {
        width: 26vw;
    }

    .btn-buy,
    .btn-cart {
        width: 45%;
    }
        .link select {
        width: 100px;
        font-size: 8px;
    }


}

@media(max-width:400px) {
    .footer >h1 {
        margin-top: 100px;
    }

    .footer h1 > a > img {
        width: 20vw;

    }

}



@media(max-width:380px) {
    .order-item {
        font-size: 10px;
    }
    .tabCont2>article .reviewP {}

    .tabCont2>article .reviewP p {
        font-size: 3vw;    
    }
    .tabCont2>article .reviewP p strong {
        display: block;
        width: 60px;
        font-size: 3vw; 

    }
    .tabCont2>article .reviewBtn .report {
        display: none;
    }
    .btn-buy,
    .btn-cart {
        font-size: 4vw;
    }
}




@media(max-width:370px) {
    .tabCont4 section h3 {
        font-size: 15px;
    }

    .tabCont4 section ul {
        font-size: 9px;
    }

    .tabCont4 section table {
        font-size: 9px;
    }
}


@media(max-width:360px) {
    .order-item {
        font-size: 8px;
    }
    .tabCont4 section {
        margin-top: 0;
    }
}

@media(max-width:340px) {
    .tabCont2>article .reviewBtn>span {
        font-size: 4vw;
}
.tabCont2>article .reviewBtn button {
    font-size: 3.5vw;
}

}


/* 애플의 끝 핸드폰 */
@media(max-width:320px) {

    /* header---------------------------- */
    .header {
        height: 50px;
    }

    .header>h1 {
        height: 50px;
        padding: 0 10px;
        line-height: 50px;
    }

    .header>h1>a {
        height: 30px;
    }

    .header>h1>a>img {
        width: 180px;
        padding-top: 2.5px;
    }

    /* 햄버거 아이콘 */
    .hamburger-icon {
        width: 20px;
        height: 16px;
        top: 17px;
    }

    .hamburger-icon span {
        height: 2px;
        margin-bottom: 3px;
    }

    .hamburger-icon.open span:nth-child(1) {
        transform: rotate(45deg) translate(3px, 3px);
    }

    .hamburger-icon.open span:nth-child(3) {
        transform: rotate(-45deg) translate(3px, -3px);
    }

    /* 네비게이션 메뉴 */
    #Nav {
        width: 180px;
        left: -180px;
    }

    #Nav>.Main_menu {
        padding-top: 60px;
    }

    #Nav>.Main_menu>li>a {
        font-size: 14px;
    }

    #Nav>.Main_menu>li>ul>li>a {
        font-size: 12px;
    }

    /* header---------------------------- */

    /* container1 ----------------------------*/
    .container1 {
        margin-top: 56px;
    }

    .description>p:first-child{
        height: 240px;
    }

    .tabmenu .tabBtn ul {
        /* display: block; */
        /* width: 280px; */
    }

    .tabmenu .tabBtn ul li a {
        /* width: 100%;
        height: 30px;
        font-size: 12px;
        line-height: 30px; */
    }

    .product-info-box {
        /* width: 280px;
        margin: 5px 20px;
        border: 1px solid #ddd;
        padding: 5px 10px; */
    }

    .order-item {
        font-size: 7px;
    }

    .btn-buy,
    .btn-cart {
        display: block;
        width: 100%;
        margin-top: 15px;
    }

    /* con */

}